
.wrapper{
    display: grid;
    grid-template-columns:repeat(50,10px);
    grid-template-rows:repeat(6, 25px);

}
.hora1{
    grid-column:2/8;
    grid-row:3/6;
    background-color: rgb(33, 44, 65);
    text-align:center;
    font-size:60px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    border-radius:10px;
    box-shadow:2px 2px 3px gray;
}
.hora2{
    grid-column:9/15;
    grid-row:3/6;
    background-color: rgb(33, 44, 65);
    text-align:center;
    font-size:60px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    border-radius:10px;
    box-shadow:2px 2px 3px gray;
}
.minuto1{
    grid-column:20/26;
    grid-row:3/6;
    background-color: rgb(33, 44, 65);
    text-align:center;
    font-size:60px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    border-radius:10px;
    box-shadow:2px 2px 3px gray;
}

.minuto2{
    grid-column:27/33;
    grid-row:3/6;
    background-color: rgb(33, 44, 65);
    text-align:center;
    font-size:60px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    border-radius:10px;
    box-shadow:2px 2px 3px gray;
}

.segundo1{
    grid-column:37/43;
    grid-row:3/6;
    background-color: rgb(33, 44, 65);
    text-align:center;
    font-size:60px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    border-radius:10px;
    box-shadow:2px 2px 3px gray;
}


.segundo2{
    grid-column:44/50;
    grid-row:3/6;
    background-color: rgb(33, 44, 65);
    text-align:center;
    font-size:60px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    border-radius:10px;
    box-shadow:2px 2px 3px gray;
}

.cardImage1{
    grid-column:16/19;
    grid-row:3/6;
    background-image:url("../../assets/GlobalAsset/doipontos.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y:5px;
}
.cardImage2{
    grid-column:34/37;
    grid-row:3/6;

    background-image:url("../../assets/GlobalAsset/doipontos.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y:5px;
}
.conteudoBaixo{
    grid-column:1/47;
    grid-row:5/7;
    display: flex;
    flex-wrap: wrap;
   background-color: rgb(33, 44, 65);
}

.bt{
    width:60px;
    height:30px;
}