
.container{
    
    background-color: rgb(9, 40, 66);
    width:168px;
    height:108px;
    justify-items: center;

}

.contador{
    color:rgb(255, 255, 255);
    font-size: 55px;
    margin-top:15px;
    text-align: center;
}